<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<h1 th:text="${headLine}"/>

<!--<button type="button" class="btn btn-outline-secondary">CREATE CLIENT</button>-->
<!--    <div class="position-absolute top-100 start-50 translate-middle badge rounded-pill bg-secondary"></div>-->
<!--</button>-->

<!--<button type="button" class="btn btn-outline-secondary">CHANGE CLIENT BALANCE</button>-->
<!--    <button class="position-absolute top-30 start-50 translate-middle badge rounded-pill bg-secondary"></button>-->
<!--</button>-->
<div class="justify-content-center align-items-center">
    <button class="btn btn-primary justify-content-center align-items-center" type="button">CREATE CLIENT</button>
</div>

<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button">CHANGE CLIENT BALANCE</button>
</div>
</body>
</html>